:host {
  display: block;
}

mat-card {
  min-width: 300px;
}

mat-list-item {
  max-width: 300px;
  button {
    display: none;
  }
  &:hover {
    button {
      display: inline-block;
    }
  }
}

mat-card-content {
  max-height: 600px;
  overflow: auto;
}